<mat-sidenav-container class="app-container">
    <mat-sidenav opened mode="side" class="menu-app" [class.collapsed]="collapsed">
        <mat-list role="list" class="list-menu-button">

            <ng-container *ngFor="let menu of menu_items;let index = index">
            <mat-list-item class="list-menu-item" role="listitem">
                <div class="nav-button">
                    <button mat-button class="button-menu">
                    <mat-icon class="icon-menu">{{menu.icon}}</mat-icon>
                    </button>
                    <span class="menu-descriptio" *ngIf="collapsed">{{menu.title}}</span>
                </div>
                </mat-list-item>
            </ng-container>

        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content [class.collapsed]="collapsed" autosize="true">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>